<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="en" >
    </head>
    <nav class="col-3" th:fragment="menu">
        <div class="nav-border">
            <ul class="menu-ul">
                <li>
                    <a href="realtimeinsights" class="">
                        <svg class="icon-real-time-insights-grey"></svg>
                        <p>Real-Time Insights</p>
                    </a>
                </li>
                <li>
                    <a href="employees" class="">
                        <svg class="icon-employees-grey"></svg>
                        <p>Employees</p>
                    </a>
                </li>
                <li class="li-active">
                    <a href="list" class="">
                        <svg class="icon-time-and-attendance-green"></svg>
                        <p>Time & Attendance</p>
                    </a>
                </li>
                <li >
                    <a href="reviews" class="">
                        <svg class="icon-request-reviews-grey"></svg>
                        <p>Request Reviews</p>
                    </a>
                </li>
                <li >
                    <a href="drivinglog" class="">
                        <p>Driving Log</p>
                    </a>
                </li>
                <li >
                    <a href="schedule-admin" class="">
                        <svg class="icon-request-reviews-grey"></svg>
                        <p>Make schedule</p>
                    </a>
                </li>
                <li>
                    <a href="profile" >
                        <svg class="icon-setting-grey"></svg>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
            <div>
                <div class="account-logged-in">
                    <a href="profile">
                        <h1><span th:text="${abbreviation}" class="blue"></span></h1>
                        <!--suppress HtmlUnknownAttribute -->
                        <strong th:text="${fullName}"></strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</html>
