.clockin-kassi {
    margin-top: 10%;
    height: 500px;

}
.clockin-box-left{
    width: 38.5%;
}
.clockin-box-right{

}
body{
    background: linear-gradient( to right, #1AEAB6 0%, #1AEAB6 45%, #fff 0%, #fff 100%);
}


.ssn-kassi {
    box-sizing: border-box;
    width: 347px;
    height: 44px;
    left: 737px;
    top: 385px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    margin-bottom: 0.5em;
}

.submit-kassi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 10px;

    width: 347px;
    height: 44px;
    left: 736px;
    top: 543px;

    background: #1E90FF;
    border-radius: 8px;
    margin-bottom: 10px;
}

.login-kassi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 10px;

    width: 347px;
    height: 44px;
    left: 736px;
    top: 543px;

    background: #1AEAB6;
    border-radius: 8px;
    margin-bottom: 0.60em;
}

.signup-kassi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 10px;

    width: 347px;
    height: 44px;
    left: 736px;
    top: 543px;

    background: #1AEAB6;
    border-radius: 8px;
}

.output {
    margin-bottom: 10px;
}