
.employee-transaction-list-row {
    text-align: left;
    min-width: 10em;
}
.employee-transaction-list-row-input-date {
    width: 122px;
    height: 30px !important;
}
.employee-transaction-list-row-input-time {
    width: 69px;
    height: 30px !important;
}
.employee-transaction-table{
    width: 100%;
}

table{
    border-collapse:separate;
    border-spacing: 0 1em;
    border: 3px black solid;
}
td {
    border-top: solid 1px black;
    border-bottom: solid 2px black
}
.employee-table-row{
    border: 1px solid #D4D4D4;
    filter: drop-shadow(0px 1px 1px #DFDFDF);
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}
.employee-table-inner-row{
    display: flex;
    height: 25px;
    margin-left: 1em;
}
.employee-table-header{
    display: flex;
}
.employee-table-row button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.transparent-button{
    background-color: transparent;
    border-color: transparent;
}
.plus-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}
