
.employee-transaction-list-row {
    text-align: left;
    min-width: 10em;
}
.employee-transaction-list-row-input-date {
    width: 110px;
}
.employee-transaction-list-row-input-time {
    width: 60px;
}
.employee-transaction-table{
    width: 100%;
}
table{
    border-collapse:separate;
    border-spacing: 0 1em;
    border: 3px black solid;
}
td {
    border-top: solid 1px black;
    border-bottom: solid 2px black
}
.transparent-button{
    background-color: transparent;
    border-color: transparent;
}
.plus-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}


