:root {
    --offset: 10px;
    --columns: 12;
    --gutter: 30px;
    --color: hsla(204, 75%, 75%, 0.25);
    --repeating-width: calc(100% / var(--columns));
    --column-width: calc((100% / var(--columns)) - var(--gutter));
    --background-width: calc(100% + var(--gutter));
    --background-columns: repeating-linear-gradient(
            to right,
            var(--color),
            var(--color) var(--column-width),
            transparent var(--column-width),
            transparent var(--repeating-width)
    );
}

html {
    position: relative;
}

html::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;

    width: calc(100% - (2 * var(--offset)));

    min-height: 100vh;
    background-image: var(--background-columns);
    background-size: var(--background-width) 100%;
    z-index: 1000;
    pointer-events: none;
}
