
.login-kassi {
    margin-top: 10%;
    height: 500px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
.login-box-left{
    width: 38.5%;
}
.login-box-right{

}
body{
    background: linear-gradient(
            to right,
                /*90deg,*/
            #1AEAB6 0%,
            #1AEAB6 42.66666666666%,
            #ffffff 0%,
            #ffffff 100%);
}


.username-kassi {
    box-sizing: border-box;
    width: 347px;
    height: 44px;
    left: 737px;
    top: 385px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
}

.password-kassi {
    box-sizing: border-box;
    width: 347px;
    height: 44px;
    left: 735px;
    top: 454px;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
}

.submit-kassi {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 10px;

    width: 347px;
    height: 44px;
    left: 736px;
    top: 543px;

    background: #1AEAB6;
    border-radius: 8px;
    margin-top: 0.5em;
}
.register-kassi {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 10px;

    width: 347px;
    height: 44px;
    left: 737px;
    top: 609px;

    border: 1px solid #1AEAB6;
    border-radius: 8px;
}


