.offline{
    opacity: 0.5;
    padding-top: 5px;
    padding-bottom: 0;
}

.offline p:nth-child(1){
    padding-top: 0px !important;
}
.offline p:nth-child(2){
    font-size: 12px;
    padding-top: 0px !important;
}
.real-time-insights-spacing p:nth-child(1){
    width: 25em;
}
.real-time-insights-spacing p:nth-child(2){
    width: 25%;
    margin-top: -5px;
}
.real-time-insights-spacing p:nth-child(3){
    width: 25%;
}
.real-time-insights-spacing p:nth-child(4){
    width: 25%;
}
.real-time-insights-row{
    height: 50px;
}