.reqest-calander {

}

.calander-overview{
    display:flex;
    border: 1px solid #D4D4D4
}
.calander-inner-left {
    background: #1AEAB6;
}

.calander-inner-right {
    background: #1AEAB6;
}
.calander {
    margin-right: 40px;

}
.dates-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}