
input{
    background: #F6F6F6;
    border: none;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    border-radius: 5px;

}
h1 {
    font-size: 35px;
    font-weight: 400;
    /*color: #353535;*/
}
h2 {
    font-weight: 400;
    color: #353535;
    margin-bottom: 1em;
    margin-top: 1em;
}
p {
    color: #353535;
}
a{
    color: #353535;
    text-decoration: none
}
body {
    font-family: 'Poppins', helvetica, arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    min-height: 100%;
}
.body-sidebar{
    flex-direction: row;
    display: flex;
}
label{
    font-family: 'poppins';
    margin-top: 1em;
}

select {
    margin-top: 0.5em;
    padding-left: 1em;
    background-color: white;
    height: 3em;
    border-radius: 5px;
    border: 1px solid #000000;
}

.grid-with-sidebar {
    overflow: hidden;
    width: 100%;
}

.grid{
    margin: 0 auto;
    max-width: 1450px;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.margin-col {
    margin-bottom: 2em;
}

.col-1 {
    width: 8.33333%; }

.offset-col-1 {
    margin-left: 8.33333%; }

.col-2 {
    width: 16.66667%; }

.offset-col-2 {
    margin-left: 16.66667%; }

.col-3 {
    width: 25%; }

.offset-col-3 {
    margin-left: 25%; }

.col-4 {
    width: 33.33333%; }

.offset-col-4 {
    margin-left: 33.33333%; }

.col-5 {
    width: 41.66667%; }

.offset-col-5 {
    margin-left: 41.66667%; }

.col-6 {
    width: 50%; }

.offset-col-6 {
    margin-left: 50%; }

.col-7 {
    width: 58.33333%; }

.offset-col-7 {
    margin-left: 58.33333%; }

.col-8 {
    width: 66.66667%; }

.offset-col-8 {
    margin-left: 66.66667%; }

.col-9 {
    width: 75%; }

.offset-col-9 {
    margin-left: 75%; }

.col-10 {
    width: 83.33333%; }

.offset-col-10 {
    margin-left: 83.33333%; }

.col-11 {
    width: 91.66667%; }

.offset-col-11 {
    margin-left: 91.66667%; }

.col-12 {
    width: 100%; }

.offset-col-12 {
    margin-left: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

@media (max-width: 799px) {
    .col-md-1 {
        width: 8.33333%; }
    .offset-col-md-1 {
        margin-left: 8.33333%; }
    .col-md-2 {
        width: 16.66667%; }
    .offset-col-md-2 {
        margin-left: 16.66667%; }
    .col-md-3 {
        width: 25%; }
    .offset-col-md-3 {
        margin-left: 25%; }
    .col-md-4 {
        width: 33.33333%; }
    .offset-col-md-4 {
        margin-left: 33.33333%; }
    .col-md-5 {
        width: 41.66667%; }
    .offset-col-md-5 {
        margin-left: 41.66667%; }
    .col-md-6 {
        width: 50%; }
    .offset-col-md-6 {
        margin-left: 50%; }
    .col-md-7 {
        width: 58.33333%; }
    .offset-col-md-7 {
        margin-left: 58.33333%; }
    .col-md-8 {
        width: 66.66667%; }
    .offset-col-md-8 {
        margin-left: 66.66667%; }
    .col-md-9 {
        width: 75%; }
    .offset-col-md-9 {
        margin-left: 75%; }
    .col-md-10 {
        width: 83.33333%; }
    .offset-col-md-10 {
        margin-left: 83.33333%; }
    .col-md-11 {
        width: 91.66667%; }
    .offset-col-md-11 {
        margin-left: 91.66667%; }
    .col-md-12 {
        width: 100%; }
    .offset-col-md-12 {
        margin-left: 100%; } }

@media (max-width: 499px) {
    .col-sm-0 {
        width: 0%; }
    .offset-col-sm-0 {
        margin-left: 0%; }
    .col-sm-1 {
        width: 8.33333%; }
    .offset-col-sm-1 {
        margin-left: 8.33333%; }
    .col-sm-2 {
        width: 16.66667%; }
    .offset-col-sm-2 {
        margin-left: 16.66667%; }
    .col-sm-3 {
        width: 25%; }
    .offset-col-sm-3 {
        margin-left: 25%; }
    .col-sm-4 {
        width: 33.33333%; }
    .offset-col-sm-4 {
        margin-left: 33.33333%; }
    .col-sm-5 {
        width: 41.66667%; }
    .offset-col-sm-5 {
        margin-left: 41.66667%; }
    .col-sm-6 {
        width: 50%; }
    .offset-col-sm-6 {
        margin-left: 50%; }
    .col-sm-7 {
        width: 58.33333%; }
    .offset-col-sm-7 {
        margin-left: 58.33333%; }
    .col-sm-8 {
        width: 66.66667%; }
    .offset-col-sm-8 {
        margin-left: 66.66667%; }
    .col-sm-9 {
        width: 75%; }
    .offset-col-sm-9 {
        margin-left: 75%; }
    .col-sm-10 {
        width: 83.33333%; }
    .offset-col-sm-10 {
        margin-left: 83.33333%; }
    .col-sm-11 {
        width: 91.66667%; }
    .offset-col-sm-11 {
        margin-left: 91.66667%; }
    .col-sm-12 {
        width: 100%; }
    .offset-col-sm-12 {
        margin-left: 100%; }
    .col {
        margin-bottom: 1em; } }


.account-logged-in {
    text-align: center;
    width: 325px;
    padding-bottom: 1em;
}
.float{
    position: absolute;
    bottom: 0;
}

span.blue {
    background: #D1D1D1;
    border-radius: 2.5em;
    color: #ffffff;
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
}

nav {
    border: 1px solid #D0D0D0;
    flex-shrink: 0;
    width: 325px;

}
ul{
    list-style-type: none; /* Remove bullets */

    margin: 0; /* Remove margins */
}
li{

    height: 50px;
}
html{
    height: 100%;
}
li a {
    text-decoration: none;
    color: #7A7A7A;
    padding-left: 2em;
    display: flex;
}
li p{
    padding-top: 15px;
    padding-left: 1em;
    font-weight: 500;
}

.li-active{
    border-left: 5px solid #1AEAB6;
}
.li-inactive{
    border-left: 5px solid #ffffff;
}

.li-active p{
    color: black;
}

.menu-ul{
    padding-top: 1em;
    padding-bottom: 5em;

}
main{
    width: 100%;
}
/*************   Icons  *********************/
/* Real time insight icon*/
.icon-real-time-insights-grey {
    background-image: url(icon/real-time-insights-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-real-time-insights-green {
    background-image: url(icon/real-time-insights-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Employees icon */
.icon-employees-grey {
    background-image: url(icon/employees-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-employees-green  {
    background-image: url(icon/employees-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Time and attendance icon */
.icon-time-and-attendance-grey {
    background-image: url(icon/time-and-attendance-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-time-and-attendance-green  {
    background-image: url(icon/time-and-attendance-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Request review icon*/
.icon-request-reviews-grey {
    background-image: url(icon/request-reviews-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-request-reviews-green {
    background-image: url(icon/request-reviews-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Driving log icon*/
.icon-driving-log-grey {
    background-image: url(icon/driving-log-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-driving-log-green {
    background-image: url(icon/driving-log-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Make schedule icon*/
.icon-make-schedule-grey {
    background-image: url(icon/make-schedule-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-make-schedule-green {
    background-image: url(icon/make-schedule-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Settings icon*/
.icon-setting-grey {
    background-image: url(icon/settings-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-setting-green {
    background-image: url(icon/settings-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
/* Log out icon*/
.icon-logout-grey {
    background-image: url(icon/logout-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-left: 1rem;
}
.icon-logout-green {
    background-image: url(icon/logout-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-cloud-login-white {
    background-image: url(icon/cloud-login.svg);
    background-repeat:no-repeat;
    height: 25em;
    width: 50em;
}
.icon-comment-grey {
    background-image: url(icon/comment.svg);
    background-repeat:no-repeat;
    height: 25em;
}
.icon-edit-grey {
    background-image: url(icon/edit.svg);
    background-repeat:no-repeat;
    height: 25px;
}
.icon-pending-yellow {
    background-image: url(icon/pending-yellow.svg);
    background-repeat:no-repeat;
    height: 25px;
}
.icon-approved-green {
    background-image: url(icon/approved-green.svg);
    background-repeat:no-repeat;
    height: 25px;
}
.icon-request-red {
    background-image: url(icon/request-red.svg);
    background-repeat:no-repeat;
    height: 25px;
}

.icon-schedule-grey {
    background-image: url(icon/schedule-grey.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}
.icon-schedule-green {
    background-image: url(icon/schedule-green.svg);
    background-repeat:no-repeat;
    height: 25px;
    width: 25px;
    margin-top: 12.5px;
}



.plus-bubble-button-green {
    background-image: url(icon/plus-bubble-button-green.svg);
    background-repeat:no-repeat;
    height: 100px;
    width: 100px;
}

/*******************************************************************/
.logoSVGgreen {
    background-image: url(icon/logo-green.svg);
    background-repeat: no-repeat;
    height: 2em;
    margin: 0;
}
.logoSVGwhite {
    background-image: url(icon/logo-white.svg);
    background-repeat: no-repeat;
    height: 2em;
    margin: 0;
}
.logo {
    font-size: 2rem !important;
    padding-left: 48px;
    padding-top: 1rem;
}
/*******************************************************************/


.total-worked-hour{
    border: 1px solid #D4D4D4;
    filter: drop-shadow(0px 1px 1px #DFDFDF);
    border-radius: 5px;
    margin-top: 1em;
    width: 470px;
    height: 126px;
    padding: 1em;
    display: flex;
    margin-bottom: 1em;
}
.total-worked-hour-inner-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.total-worked-hour-inner-right {
    display: flex;
    align-items: end;
    justify-content: right;
    width: 100%;
}








.default-cancel-input {
    border: 1px solid #1AEAB6 !important;
    text-align: center;
    color: #1AEAB6;
    height: 50px;
    min-width: 200px;
    background-color: white !important;

}
.default-save-input {
    background-color: #1AEAB6 !important;
    border: 1px solid #1AEAB6 !important;
    text-align: center;
    color: white;
    min-width: 200px;
    margin-right:0.5em

}
.font-white{
    color: white;
}
.login-h1{
    padding-top: 2em;
}

.center{
    text-align: center;
}

/*-------------------------*/


.flex-container{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}
.transparent-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.logout{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    padding-top: 1em;
    padding-right: 1em;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
li:hover{
    background-color: #F2F2F2;
}

.table-header{
    margin-bottom: -1.5em;
}
.table-content {
    border: 1px solid #D4D4D4;
    filter: drop-shadow(0px 1px 1px #DFDFDF);
    border-radius: 5px;
    margin-bottom: 0.5em;
}
.table-content p{
 padding-top: 14px;
}
.table-content button {
    margin-top: 11px;
}
.table-content input{
    margin-top: 10px;
}
.status {
    padding-top: 12px;
}

main{
    margin-left: 1em;
    margin-right: 1em;
}



