:root {
    --offset: 20px;
    --max_width: 1450px;
    --columns: 12;
    --gutter: 20px;
    --color: hsla(204, 80%, 72%, 0.25);
    --repeating-width: calc(100% / var(--columns));
    --column-width: calc((100% / var(--columns)) - var(--gutter));
    --background-width: calc(100% + var(--gutter));
    --background-columns: repeating-linear-gradient(
            to right,
            var(--color),
            var(--color) var(--column-width),
            transparent var(--column-width),
            transparent var(--repeating-width)
    );
}


/* Styling */
html {
    position: relative;
}

html::before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - (2 * var(--offset)));
    max-width: var(--max_width);
    min-height: 100vh;
    content: '';
    background-image: var(--background-columns);
    background-size: var(--background-width) 100%;
    z-index: 1000;
    pointer-events: none;
}
h2{
    font-size: 2em;
    color: darkred;
}


.grid {
    margin: 0 auto;
    max-width: 1450px;
    overflow: hidden; }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }

.col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-bottom: 2em; }

.col-1 {
    width: 8.33333%; }

.offset-col-1 {
    margin-left: 8.33333%; }

.col-2 {
    width: 16.66667%; }

.offset-col-2 {
    margin-left: 16.66667%; }

.col-3 {
    width: 25%; }

.offset-col-3 {
    margin-left: 25%; }

.col-4 {
    width: 33.33333%; }

.offset-col-4 {
    margin-left: 33.33333%; }

.col-5 {
    width: 41.66667%; }

.offset-col-5 {
    margin-left: 41.66667%; }

.col-6 {
    width: 50%; }

.offset-col-6 {
    margin-left: 50%; }

.col-7 {
    width: 58.33333%; }

.offset-col-7 {
    margin-left: 58.33333%; }

.col-8 {
    width: 66.66667%; }

.offset-col-8 {
    margin-left: 66.66667%; }

.col-9 {
    width: 75%; }

.offset-col-9 {
    margin-left: 75%; }

.col-10 {
    width: 83.33333%; }

.offset-col-10 {
    margin-left: 83.33333%; }

.col-11 {
    width: 91.66667%; }

.offset-col-11 {
    margin-left: 91.66667%; }

.col-12 {
    width: 100%; }

.offset-col-12 {
    margin-left: 100%; }