<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>clock</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/clock.css}" rel="stylesheet"/>
</head>
<body>
<div class="grid">
    <div class="row">
        <div class="col offset-col-2 col-8">
            <div class="clockin-kassi">
                <div class="flex-container">
                    <div class="clockin-box-left flex-container column">
                        <div class="login-h1 font-white center">
                            <h1 class="logo">
                                <svg class="logoSVGwhite"></svg>
                            </h1>
                        </div>
                        <div class="cloud-login-white">
                            <svg class="icon-cloud-login-white"/>
                        </div>
                    </div>
                    <div class="flex-column column">
                        <form action="#" th:action="@{/}" th:object="${transaction}"  method="post">
                            <p>SSN</p>
                            <input class="ssn-kassi" type="text" name="ssn" id="ssn" th:value="*{SSN}" />
                            <input class="submit-kassi default-save-input" type="submit" value="Clock-in"/>
                            <p class="output" id="test"></p>
                        </form>
                        <form action="#" th:action="@{/login}" th:object="${user}"  method="get">
                            <input class="login-kassi default-cancel-input"  type="submit" name="action" value="Login"/>
                        </form>
                        <form action="#" th:action="@{/signup}" th:object="${user}"  method="get">
                            <input class="signup-kassi default-cancel-input"  type="submit" name="action" value="Signup"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var params = new window.URLSearchParams(window.location.search);
    if(params.get('message')!=null) {
        let name = params.get('message')
        document.getElementById("test").innerHTML=name;
    }
</script>
</body>
</html>