
<!DOCTYPE html>
<html lang="is" xmlns:th="https://thymeleaf.org">
<link th:href="@{/css/clock.css}" rel="stylesheet"/>
<head>

    <meta charset="UTF-8">
    <title>Clock</title>


</head>
<body>
<div class="message">
    <p >
        Þú hefur stimplað þig inn.
    </p>
</div>
<h2>Inn stimplaðu</h2>
<form action="#" th:action="@{/}" th:object="${transaction}"  method="post">
    <input type="text" name="ssn" id="ssn" th:value="*{SSN}" />
    <input type="submit" value="KLUKK"/>
</form>

<p id="test"></p>
<script>
    var params = new window.URLSearchParams(window.location.search);
    if(params.get('message')!=null) {
        let name = params.get('message')
        let string = "Hello," + name + "!";
        document.getElementById("test").innerHTML=string;
    }
</script>
</body>
</html>