<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!--suppress HtmlUnknownAttribute -->
<head th:switch="${username}">
  <meta charset="UTF-8">
  <!--suppress HtmlUnknownAttribute -->
  <title th:case="null">Log in to see KM driven</title>
  <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
  <title th:case="*" th:text="${username}"></title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
  <link th:href="@{/css/grid-overlay.css}" rel="stylesheet"/>
  <link th:href="@{/css/drivinglog.css}" rel="stylesheet"/>
</head>
<body>
  <main class="grid">
    <div class="row">
      <div th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></div>
      <div class="col col-6">
        <h2>Driving log</h2>
        <form class="drivinglog-form" action="#" th:action="@{/drivinglog/new}" th:object="${driving}"  method="post">
          <div class="drivinglog-flex-column">
            <label>Upphafs keyrsla</label>
            <input class="start-kassi"  type="text" name="username" id="username" th:field="*{odometerStart}"/>
          </div>
          <div class="drivinglog-flex-column">
            <label>Enda keyrsla</label>
            <input class="end-kassi" type="text" name="password" id="password" th:field="*{odometerEnd}"/>
          </div>
          <input class="append-kassi" type="submit" value="Append Driving Session!"/>
        </form>
        <p>Time period 24.11.22-25.12.22</p>
        <div>
          <div th:switch="${instances}">
            <!--<h2 th:case="null">No days driven found!</h2>-->
            <div th:case="*">
              <div class="employee-drivinglog-table">
                <div class="default-table-header">
                  <p class="employee-drivinglog-list-row">Date</p>
                  <p class="employee-drivinglog-list-row">Starting-Distance</p>
                  <p class="employee-drivinglog-list-row">End-Distance</p>
                  <p class="employee-drivinglog-list-row">Distance-Driven</p>
                  <p class="employee-drivinglog-list-row"></p>
                  <p class="employee-drivinglog-list-row"></p>
                </div>
                <div class="default-table-list">
                  <div class="default-table-row" th:each="instance : ${instances}" th:id="${instance.getID}">
                    <div class="default-table-inner-row">
                      <p class="employee-drivinglog-list-row" th:text="${instance.dags}"></p>
                      <p class="employee-drivinglog-list-row" th:text="${instance.odometerStart}"></p>
                      <p class="employee-drivinglog-list-row" th:text="${instance.odometerEnd}"></p>
                      <p class="employee-drivinglog-list-row" th:text="${instance.distanceDriven}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </main>
</body>
<script>
</script>
</html>