<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <!--suppress HtmlUnknownAttribute -->
  <head th:switch="${username}">
    <meta charset="UTF-8">
    <title th:case="null">Log in to see worked hours</title>
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/edit-employees.css}" rel="stylesheet"/>
  </head>
  <body class="body-sidebar">
    <nav th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></nav>
    <main>
      <div class="row">
        <div class="col col-12">
          <h2>Employees</h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <div>
            <div class="table-header row">
              <div class="col col-4">
                <p>Name</p>
              </div>
              <div class="col col-4">
                <p>Phone number</p>
              </div>
              <div class="col col-4">
                <p>Role</p>
              </div>
              <div class="col col-4">
                <p></p>
              </div>
            </div>
            <div class="table-content row" th:each="employee : ${employees}">
              <div class="col col-4">
                <p th:text="${employee.firstNameOfEmployee} + ' ' + ${employee.lastNameOfEmployee}">Name</p>
              </div>
              <div class="col col-4">
                <p th:text="${employee.phoneNumberEmployee}">8458094</p>
              </div>
              <div class="col col-2">
                <p th:text="${employee.employeeAccountType}">Admin</p>
              </div>
              <div class="col col-2">
                <button class="transparent-button" >
                  <a th:href="@{'/edit/' + ${employee.ssnEmployee}}">
                    <svg class="icon-edit-grey" height="25" width="25"></svg>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>