<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <!--suppress HtmlUnknownAttribute -->
  <head th:switch="${username}">
    <meta charset="UTF-8">
    <title th:case="null">Log in to see worked hours</title>
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/employee-transaction.css}" rel="stylesheet"/>
  </head>
  <body>
    <main class="grid">
      <div class="row">
        <div th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></div>
        <div class="col col-9">
          <h1>Employees</h1>
          <div>
            <div class="default-table-header">
              <p class="">Name</p>
              <p class="">Phone number</p>
              <p class="">Role</p>
              <p class=""></p>
            </div>
            <div class="default-table-list">
              <div class="default-table-row user-profile-row" th:each="employee : ${employees}">
                <div class="default-table-inner-row">
                  <p th:text="${employee.firsNameOfEmployee} + ' ' + ${employee.lastNameOfEmployee}">Name</p>
                  <p>8458094</p>
                  <p>Admin</p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>