
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Library System</title>
        <link th:href="@{/css/grid-overlay.css}" rel="stylesheet"/>
        <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    </head>
    <body>

        <!--suppress HtmlUnknownAttribute -->
        <div th:switch="${books}">
            <!--suppress HtmlUnknownAttribute -->
            <h2 th:case="null">No Books yet!</h2>
            <!--suppress HtmlUnknownAttribute -->
            <div th:case="*">
                <h2>Books</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--suppress HtmlUnknownAttribute -->
                    <tr th:each="book : ${books}">
                        <!--suppress HtmlUnknownAttribute -->
                        <td th:text="${book.title}"></td>
                        <!--suppress HtmlUnknownAttribute -->
                        <td th:text="${book.description}"></td>
                        <!--suppress HtmlUnknownAttribute -->
                        <td th:text="${book.rating}"></td>
                        <td><!--suppress HtmlUnknownAttribute -->
                            <a th:href="@{/delete/{id}(id=${book.ID})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/addbook">Add a new book</a></p>
        </div>
    </body>
</html>