<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <!--suppress HtmlUnknownAttribute -->
  <head th:switch="${username}">
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownAttribute -->
    <title th:case="null">Log in to see worked hours</title>
    <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/employee-transaction.css}" rel="stylesheet"/>
  </head>
  <body>
    <main class="grid">
      <div class="row">
        <div th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></div>
        <div class="col col-9">
          <div class="time-and-date-from-time-and-date-from">
            <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
            <form action="#" th:action="@{/list}" th:object="${dateHelper}"  method="post">
              <label>From</label>
              <input type="date" name="startDate" id="startDate" th:field="*{date1}" />
              <label>To</label>
              <input type="date" name="endDate" id="endDate" th:field="*{date2}" />
              <input type="submit" value="Search"/>
            </form>
          </div>

          <!--suppress HtmlUnknownAttribute -->
          <div th:switch="${transactions}">
            <!--suppress HtmlUnknownAttribute -->
            <h2 th:case="null">No transactions found!</h2>
            <!--suppress HtmlUnknownAttribute -->
            <div th:case="*">
              <h2>Transaction</h2>
              <div class="employee-transaction-table">
                <div class="employee-table-header">
                  <p class="employee-transaction-list-row">Date</p>
                  <p class="employee-transaction-list-row">Clock-in</p>
                  <p class="employee-transaction-list-row">Clock-out</p>
                  <p class="employee-transaction-list-row">Work Time</p>
                  <p class="employee-transaction-list-row">Status</p>
                  <p class="employee-transaction-list-row"></p>
                  <p class="employee-transaction-list-row"></p>
                </div>
                <!--suppress HtmlUnknownAttribute -->
                <div class="employee-table-rows">
                  <div class="employee-table-row" th:each="transaction : ${transactions}" th:id="${transaction.getID}">
                    <div class="employee-table-inner-row">
                      <!--suppress HtmlUnknownAttribute -->
                      <p class="employee-transaction-list-row" th:text="${transaction.clockInDate}"></p>
                      <!--suppress HtmlUnknownAttribute -->
                      <p class="employee-transaction-list-row" th:text="${transaction.clockInTime}"></p>
                      <!--suppress HtmlUnknownAttribute -->
                      <p class="employee-transaction-list-row" th:text="${transaction.clockOutTime}"></p>
                      <p class="employee-transaction-list-row" th:text="${transaction.workedHours} + 'H ' + ${transaction.workedMinutes} + 'm'"></p>
                      <div th:switch="${transaction.status}" class="employee-transaction-list-row">
                        <svg th:case="'approved'" class="icon-approved-green" height="25" width="25"></svg>
                        <svg th:case="'pending'" class="icon-pending-yellow" height="25" width="25"></svg>
                        <svg th:case="'request'" class="icon-request-red" height="25" width="25"></svg>
                      </div>
                      <div class="employee-transaction-list-row">
                        <button>
                          <svg class="icon-comment-grey" height="25" width="25"></svg>
                        </button>
                      </div>
                      <div class="employee-transaction-list-row">
                        <button th:id="'button-' + ${transaction.getID}" onClick="reply_click(this.id)">
                          <svg class="icon-edit-grey" height="25" width="25"></svg>
                        </button>
                      </div>
                    </div>
                    <form action="#" th:action="@{/edit}" th:object="${RequestReview}" method="post" class="employee-table-inner-row " style="display: none" th:id="'row-' + ${transaction.getID}">
                      <input type="hidden" name="id" th:value="${transaction.getID}">
                      <div class="employee-transaction-list-row">
                        <input class="employee-transaction-list-row-input-date" type="text"placeholder="yyyy-mm-dd" name="date" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" required/>
                      </div >
                      <div class="employee-transaction-list-row">
                        <input class="employee-transaction-list-row-input-time" type="text" placeholder="hh:mm" name="timeIn"  required  />
                      </div>
                      <div class="employee-transaction-list-row">
                        <input class="employee-transaction-list-row-input-time"  type="text" placeholder="hh:mm" name="timeOut" required />
                      </div>
                      <div class="employee-transaction-list-row">
                        <input value="Save" type="submit" name="button"/>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    document.getElementById('startDate').value = new Date().toISOString().substring(0, 10);
    document.getElementById('endDate').value = new Date().toISOString().substring(0, 10);
    function reply_click(clicked_id) {
      const id = clicked_id.slice(7,);
      const rowWithId = "row-".concat(id);
      console.log(rowWithId);
      const currentRow = document.getElementById(rowWithId);
      if (currentRow && currentRow.style.display =='none')
        currentRow.style.display ='flex';
      else
        currentRow.style.display ='none';
    }
  </script>

</html>