<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/grid-overlay.css}" rel="stylesheet"/>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<h2>Login to your account</h2>
<!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
<div class="row">
    <div class="  col col-5">
        <div class="background-color">

        </div>
    </div>
</div>
    <div class="grid background">

        <div class="row">
            <div class="col offset-col-2 col-8 margin-yfirkassi">
                <div class="skuggiYfirkassi">
                <div class="yfirKassi">
                <h1>Test</h1>
                    <div class="col offset-col-6 col-8 login-kassi">
                        <form action="#" th:action="@{/login}" th:object="${user}"  method="post">
                            <input class="username-kassi" type="text" name="username" id="username" th:field="*{username}"/>  <!--suppress HtmlUnknownAttribute -->
                            <input class="password-kassi" type="text" name="password" id="password" th:value="*{password}"/> <!--suppress HtmlUnknownAttribute -->
                            <input class="submit-kassi" type="submit" value="Login"/>
                            <input class="register-kassi" type="submit"> <!--HÉR ÞARF GERA FYRIR REGISTER -->
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>