<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

  <head th:switch="${username}">
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownAttribute -->
    <title th:case="null">Log in to see worked hours</title>
    <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/employee-transaction.css}" rel="stylesheet"/>
  </head>
  <body>
    <nav th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></nav>
    <main>
      <div class="row">
        <div class="col col-12">
          <h2>Request Revies</h2>
          <div th:switch="${reviews}">
            <h2 th:case="null">No transactions need to be reviewed!</h2>
            <div th:case="*">
              <h2>Transaction</h2>
              <div class="employee-transaction-table">
                <div class="default-table-header">
                  <p class="employee-transaction-list-row">Employee</p>
                  <p class="employee-transaction-list-row">Date</p>
                  <p class="employee-transaction-list-row">Original Time</p>
                  <p class="employee-transaction-list-row">Requested Time</p>
                  <p class="employee-transaction-list-row">Work Time</p>
                  <p class="employee-transaction-list-row">Status</p>
                  <p class="employee-transaction-list-row"></p>
                  <p class="employee-transaction-list-row"></p>
                </div>
                <div class="default-table-list">
                  <div class="default-table-row" th:each="review : ${reviews}" th:id="${review.getID}">
                    <div class="default-table-inner-row">
                      <p class="employee-transaction-list-row" th:text="${review.SSN}"></p>
                      <p class="employee-transaction-list-row" th:text="${review.clockInDate}"></p>
                      <p class="employee-transaction-list-row" th:text="${review.originalClockInTime} + ' - ' + ${review.originalClockOutTime}"></p>
                      <p class="employee-transaction-list-row" th:text="${review.changedClockInTime} + ' - ' + ${review.changedClockOutTime}"></p>
                      <form class="review-approve" action="#" th:action="@{/reviews}" th:object="${transactionReview}" method="POST">
                        <input type="hidden" name="ID" th:value="${review.ID}">
                        <select class="eitthvad" th:field="*{status}">
                          <option value="approve">Approve</option>
                          <option value="reject">Reject</option>
                        </select>
                        <input class="default-save-input" type="submit" value="Submit">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>