<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

  <head th:switch="${username}">
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownAttribute -->
    <title th:case="null">Log in to see worked hours</title>
    <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/employee-transaction.css}" rel="stylesheet"/>
  </head>
  <body class="body-sidebar">
    <nav th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></nav>
    <main>
      <div class="row">
        <div class="col col-12">
          <h2>Request Revies</h2>
        </div>
      </div>
      <div class="table-header row">
        <div class="col col-2">
          <p>Employee</p>
        </div>
        <div class="col col-2">
          <p>Date</p>
        </div>
        <div class="col col-2">
          <p>Original Time</p>
        </div>
        <div class="col col-2">
          <p>Requested Time</p>
        </div>
        <div class="col col-2">
          <p>Work Time</p>
        </div>
        <div class="col col-2">
          <p>Status</p>
        </div>
      </div>
      <div class="table-content row" th:switch="${reviews}">
        <p th:case="null">No transactions need to be reviewed!</p>
        <div1 th:case="*">
          <div>
            <div>
              <div  th:each="review : ${reviews}" th:id="${review.getID}">
                <div >
                  <p th:text="${review.SSN}"></p>
                  <p th:text="${review.clockInDate}"></p>
                  <p th:text="${review.originalClockInTime} + ' - ' + ${review.originalClockOutTime}"></p>
                  <p th:text="${review.changedClockInTime} + ' - ' + ${review.changedClockOutTime}"></p>
                  <form class="review-approve" action="#" th:action="@{/reviews}" th:object="${transactionReview}" method="POST">
                    <input type="hidden" name="ID" th:value="${review.ID}">
                    <select class="eitthvad" th:field="*{status}">
                      <option value="approve">Approve</option>
                      <option value="reject">Reject</option>
                    </select>
                    <input class="default-save-input" type="submit" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div1>
      </div>
    </main>
  </body>
</html>