<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!--suppress HtmlUnknownAttribute -->
<head th:switch="${username}">
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownAttribute -->
    <title th:case="null">Log in to see worked hours</title>
    <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
    <title th:case="*" th:text="${username}"></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/sickandvacation.css}" rel="stylesheet"/>

</head>
<body class="body-sidebar">
    <nav th:replace="${userRole == 0} ? ~{fragments/menu-admin :: menu} : ~{fragments/menu-user :: menu} "></nav>
    <main>
        <div class="row">
            <div class="reqest-calander offset-col-4 col-4">
                <div class="calander-overview">
                <div class="calander">
                    <div class="calander-inner-left">
                        <h1 id="output1"></h1>
                        <p id="demo"> </p>
                    </div>
                    <div class="calander-inner-right">

                    </div>
                </div>
                <form class="calander" action="#" th:action="@{/sickandvacation}" th:object="${deviation}" method="POST">
                    <select class="calander" th:field="*{type}">
                        <option value="SICK">Sick Day</option>
                        <option value="VACATION">Vaction Day</option>
                        <option value="OTHER">Miscellaneous</option>
                    </select>
                    <div class="dates-row">
                        <label>Date From</label>
                        <input type="date" th:field="*{dateFrom}">
                        <label>Date to</label>
                        <input type="date" th:field="*{dateTo}">
                    </div>
                    <div class="dates-row">
                        <input class="default-save-input" type="submit" value="Save">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </main>
</body>
<script>
    let day1 = new Date().getDate();
    document.getElementById("output1").innerHTML = day1;

    const date = new Date();

const renderCalendar = () => {
    date.setDate(1);

    const monthDays = document.querySelector(".days");

    const lastDay = new Date(
        date.getFullYear(),
        date.getMonth() + 1,
        0
    ).getDate();

    const prevLastDay = new Date(
        date.getFullYear(),
        date.getMonth(),
        0
    ).getDate();

    const firstDayIndex = date.getDay();

    const lastDayIndex = new Date(
        date.getFullYear(),
        date.getMonth() + 1,
        0
    ).getDay();

    const nextDays = 7 - lastDayIndex - 1;

    const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ];

    document.querySelector(".date h1").innerHTML = months[date.getMonth()];

    document.querySelector(".date p").innerHTML = new Date().toDateString();

    let days = "";

    for (let x = firstDayIndex; x > 0; x--) {
        days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
    }

    for (let i = 1; i <= lastDay; i++) {
        if (
            i === new Date().getDate() &&
            date.getMonth() === new Date().getMonth()
        ) {
            days += `<div class="today">${i}</div>`;
        } else {
            days += `<div>${i}</div>`;
        }
    }

    for (let j = 1; j <= nextDays; j++) {
        days += `<div class="next-date">${j}</div>`;
        monthDays.innerHTML = days;
    }
};

document.querySelector(".prev").addEventListener("click", () => {
    date.setMonth(date.getMonth() - 1);
    renderCalendar();
});

document.querySelector(".next").addEventListener("click", () => {
    date.setMonth(date.getMonth() + 1);
    renderCalendar();
});

renderCalendar();

/*document.getElementById('cl').addEventListener('click', cl_Div);

function cl_Div() {

    document.getElementById('cl').innerHTML = "Welcome to JavaScript"; }
*/

function HighlightT() {
    var sel = document.getElementById('cl').getElementsByTagName('div');
    for (var i=0; i<sel.length; i++) {
        sel[i].style.backgroundColor = "Green";
    }
    /*document.getElementById().style.backgroundColor = 'cyan';*/
}

</script>

<script>
    const days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

    const d = new Date();
    let day = days[d.getDay()];
    document.getElementById("demo").innerHTML = day;
</script>

</html>