<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sickday</title>
    <link th:href="@{/css/grid-overlay.css}" rel="stylesheet"/>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/css/sickness.css}" rel="stylesheet"/>
</head>
<body>
<main class="grid">
    <div class="grid">
        <div class="row">
            <div class="reqest-calander offset-col-1 col-4">
                <div class="calander">
                    <div class="calander-inner-left">
                        <h3>20</h3>
                        <p>Monday</p>
                    </div>
                    <div class="calander-inner-right">

                    </div>
                </div>

                <form class="calander" action="#" th:action="@{/sickandvacation}" method="POST"
                    th:object="${deviation}">
                    <select class="calander">
                        <option value="SICK">Sick Day</option>
                        <option value="VACATION">Vaction Day</option>
                        <option value="OTHER">Miscellaneous</option>
                    </select>
                    <div class="row">
                        <label>Date From</label>
                        <input type="date" th:field="*{deviation.dateFrom}">
                        <label>Date to</label>
                        <input type="date" th:field="*{deviation.dateTo}">
                    </div>
                    <div class="row">
                        <input class="default-save-input" type="submit" value="Save">
                        <input class="default-cancel-input " type="reset" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

</body>
</html>