<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/grid-overlay.css}" rel="stylesheet"/>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body class="body-sidebar">
<h2>Login to your account</h2>
<!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
<div class="grid">
    <div class="row">
        <div class="col offset-col-3 col-6">
            <div class="yfirKassi">
                <h1>Test</h1>

            </div>
        </div>
    </div>
</div>

</body>
</html>